html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Icons in the header */

.header-icon {
    width: 24px;
    height: 24px;
}

#lookup-icon {
    width: 20px;
    height: 20px;
}

#youtube-icon {
    width: 84px;
    height: 24px;
}

/* Header components */
header {
    /* box model */
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin-left: 15px;
}

#profile-icon {
    /* positioning */
    margin-right: 15px;

    /* box model */
    border-radius: 100%;
}

/* middle header div */
.middle-header {
    display: flex;
    align-items: center;
}

input {
    /* box model */
    width: 566px;
    height: 26px;
    padding-left: 10px;
}

#lookup-icon {
    /* positioning */
    margin-left: 0;

    /* box model */
    height: 26px;
    padding: 2px 20px;
    border: 1px solid #000;
}

/* video div */

#video-div {
    /* positioning */
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#main-video-section {
    /* positioning */
    margin: 0 30px;
    flex-shrink: 1;
}

#main-video-thumbnail {
    width: 100%;
}

/* Main video primary info */

#main-video-primary-info {
    /* box model */
    height: 93px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #808080;
}

#main-video-title {
    line-height: 24px;
    padding: 14px 0;
}

#stats-and-interactions {
    display: flex;
    justify-content: space-between;
}

#video-social-media-interaction {
    /* box model */
    display: flex;
    align-items: center;
}

#video-social-media-interaction p {
    margin-left: 6px;
}

#video-social-media-interaction svg {
    margin-left: 10px;
}

.social-media-interaction-icon {
    width: 30px;
    height: 30px;
}

#dislike-button {
    transform: rotate(180deg);
}

.video-title {
    /* typography */
    font-size: 18px;
}

.video-stats {
    /* typography */
    font-size: 16px;
    line-height: 24px;

    /* visual */
    color:#606060;
}

/* show more div */
#show-more-div {
    /* positioning */
    margin-top: 30px;

    /* box model */
    display: flex;
    justify-content: space-between;
    height: 184px;

    /* visual */
    border-bottom: 1px solid #808080;
}

#video-description {
    margin-top: 30px;
    margin-left: 70px;
    line-height: 21px;
}

#channel-img-name-stats {
    display: flex;
}

#channel-img-name-stats div {
    margin-left: 20px;
    line-height: 21px;
}

#channel-img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

#subsribe-button {
    /* box model */
    width: 106px;
    height: 36px;
    border: none;

    /* visual */
    background: #ff0000;
    color: white;
}

aside {
    width: 426px;
    flex-shrink: 0;
}

aside article {
    display: flex;
    /* margin-top: 20px; */
}

article .information-container {
    margin-left: 10px;
    margin-right: 15px;
}
article .information-container p {
    margin-top: 5px;
}

p.video-title {
    font-weight: 500;
}

div.video-stats p {
    color: grey;
    font-weight: 500;
}

